*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

html{
  font-size:62.5%;
}

body{
  font-size:1.8rem;
  line-height:1.5;
  /* font-family: 'Arvo', serif; */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c3c3c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  letter-spacing:3px;
}
h1{
  font-size:20px;
}
h2{
  font-size:10px;
}
h3{
  font-size: 7.5px;
}
section, footer{
  padding: 4% 0;
}

.profile-page-placer{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profile-item-ctn{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 50vw;
}

.profile-img-ctn{
  display: flex;
  max-width: 30vw;
}

#LeftPanel {
  align-items: center;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35vw;
  height: 120vh;
  max-width: 400px;
  
  position: fixed;
  top: 0px;
  background-color: whitesmoke;
  padding: none;
  position: fixed; /* Set the navbar to fixed position */
  height: 100%;
  top: 0;
  left: 0; /* Position the navbar at the top of the page */
  align-items: center;

}

.menu-items-ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  width: 100%;
}

.lpi{
  width: 100%;
}

.lpi:hover{
  background-color: #a4b5cd5d;
  padding-left: 1%;
  border-left-color: rgb(90, 90, 226);
  border-left-width: 5%;
}

.log-status{
  margin-top: 200px;
  margin-left: 5%;
}

.leftPanel a{
  color: black;
  float: left;
  margin: 20px;
}


.leftPanel a:link { text-decoration: none; }
.leftPanel a:visited { text-decoration: none; }
.leftPanel a:hover { text-decoration: none; }
.leftPanel a:active { text-decoration: none; }

.card a{
  color: black;
  /*font-family: "Google Sans",arial,sans-serif;*/
}
.card a:link {text-decoration: none; }
.card a:visited {text-decoration: none; }
.card a:hover {text-decoration: none; }
.card a:active {text-decoration: none; }

.card{
  padding: 3%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 7px #5a5757;
}

.card:hover{
  padding: 2.5%;
}

.container-fav {
  display: flex;
  height: 120vh;
  width: 100vw;
}

.login-logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.content-fav {
  flex: 1;
  padding: 16px;
  justify-content: center;
  margin-left: 30vw;
  display: flex;
  background-color: #646d7e;
  width: 100%;
}

.login-input{
  border-radius: 30px;
  margin: auto;
  width: 100%;
  background-color: white;
  border: 1px solid;
  box-shadow: 5px 5px #5a5757;
}
.center-all-full-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 30vw;
}

.form-control-fav {
  font-size: 1.6rem;
}

.form-acc{
  font-size: 1.6rem;
}

.button-prm {
  font-size: 1.5rem;
  font-family: "Google Sans",arial,sans-serif;
  background-color: rgb(80, 163, 240);
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px #5a5757;
}

.button-scnd {
  font-size: 1.5rem;
  font-family: "Google Sans",arial,sans-serif;
  background-color: rgb(171, 157, 157);
  border-radius: 15px;;
  border: none;
  box-shadow: 2px 2px #5a5757;
}

.google-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-sumbit-ctn{
  display: flex;
  justify-content: space-between;
}

.external-login-btn{
  background-color: #7CABE8;
  color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  margin: 2% 2%;
  padding: 2% 12%;
}

.S9gUrf-YoZ4jf > iframe {
  margin: 0 !important;
}

.login-logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 219, 219);
  border-radius: 30px;
}

.list div{
  display:flex;
  justify-content: center;
  align-items: center;
}
.list{
  text-align:center;
}
.list table{
  width:50%;
}
table {
  /*table behaviors*/
  width: 90%;
  border-collapse: collapse;

  /*table stylings*/
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  /*text stylings*/
  color: #334;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  
  /*text behavior*/
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
} 

table th {
  /*text stylings*/
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;

  /*table stylings*/
  background-color: #324da4;
  padding: 10px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;   
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #96bcfa;
}

table td {
  /*text stylings*/
  font-weight: bold;
  
  /*cell stylings*/
  padding: 8px;
  background-color: #fff;
  border-bottom: 1px solid #fff;  
}

button{
  /*text stylings*/
  font-size: 1.6rem;
  transition: 1s;
  color: #ffffff;
  
  /*button stylings*/
  margin: 2% 2%;
  padding: 1% 1%;
  border-radius: 10px;
  border: 3px solid rgb(100, 100, 100);
  background-color: rgb(61, 65, 178);  
}

button:hover{
  background-color: white;
  color: rgb(237, 209, 209);
}

#formPlacer{
  display:flex;
  justify-content: center;
  align-items: center;
}

#formContainer{
  width: 60%;
  margin-left: 4%;
  border: 2px solid black;
  padding: 1%;
  border-radius: 1rem;
}
#formContainer #formHeading{
  color: rgb(221, 221, 236);
  font-family: Arial, sans-serif;
  font-size: 2rem;

}
#error{
  /*text stylings*/
  color: rgb(235, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  
  /*item stylings*/
  margin: 2% 5% 1% 5%;  
}
.errItem{
  margin: 4% 2% 4% 2%;
}

ul{
  margin-left: 2%;
}

#btnPlacer{
  margin-left: 5%;
}

.form-group{
  /*item stylings*/
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%; 

  /*text stylings*/
  color: #334;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
}
