*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

html{
  font-size:62.5%;
}

body{
  font-size:2rem;
  line-height:1.5;
  /* font-family: 'Arvo', serif; */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c3c3c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  letter-spacing:3px;
}
h1{
  font-size:20px;
}
h2{
  font-size:10px;
}
h3{
  font-size: 7.5px;
}
section, footer{
  padding: 4% 0;
}

.profile-page-placer{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profile-item-ctn{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 50vw;
}

.profile-img-ctn{
  display: flex;
  max-width: 30vw;
}

#LeftPanel {
  align-items: center;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35vw;
  height: 120vh;
  max-width: 400px;
  box-shadow: 5rem 5rem 5rem 5rem;
  position: fixed;
  top: 0px;
  background-color: whitesmoke;
  padding: none;
  position: fixed; /* Set the navbar to fixed position */
  height: 100%;
  top: 0;
  left: 0; /* Position the navbar at the top of the page */
  align-items: center;

}

.menu-items-ctn{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgb(211, 233, 241);
  border-top-left-radius: none;
  box-shadow: 0.25rem 0.25rem 1rem rgb(142, 182, 196);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.lpi{
  width: 90%;
  border-radius: 1rem;
  padding-left: 6%;
  box-shadow: 0.1rem 0.1rem rgb(142, 182, 196);
}

.lpi:hover{
  background-color: #a4b5cd5d;
  padding-left: 4%;
  border-left-width: 5%;
  box-shadow: 1rem 1rem rgb(184, 199, 205);
}

.log-status{
  margin-top: 200px;
  margin-left: 5%;
}

.leftPanel a{
  color: black;
  float: left;
  margin: 20px;
}

.gallery-title{
  display: flex;
  /* justify-content: center; */
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  border-radius: 3rem;
  background-color: rgb(8, 8, 8);
  font-family: 'Bevan', cursive;
  font-family: 'Marcellus SC', serif;
  font-family: 'Permanent Marker', cursive;
  align-items: center;
}

.leftPanel a:link { text-decoration: none; }
.leftPanel a:visited { text-decoration: none; }
.leftPanel a:hover { text-decoration: none; }
.leftPanel a:active { text-decoration: none; }

.card a{
  color: rgb(228, 200, 200);
  /*font-family: "Google Sans",arial,sans-serif;*/
}

.card-source, .card-description{
  font-family: "Google Sans", arial,sans-serif;
  font-size: 1.3rem;
  color: white;
}



.card-img-top, .card-gif-mid{
  box-shadow: 0.5rem 0.5rem 2rem rgb(130, 130, 130);
  border-radius: 8px; 
}

.card a:link {text-decoration: none; }
.card a:visited {text-decoration: none; }
.card a:hover {text-decoration: none; }
.card a:active {text-decoration: none; }

.card{
  padding: 5%;
  width: 100%;
  background-color: rgb(65, 93, 130);
  border-radius: 5rem;
  box-shadow: 1rem 1rem 1rem  #5a5757;
}

.card:hover{
  box-shadow: 1rem 1rem 1rem  #bcb892;
}

/* .card-img-top:hover, .card-gif-mid:hover{
  zoom: 110%;
  border-radius: 10rem;
} */

.card-img-top, .card-gif-mid{
  border-radius: 2rem
}

.container-fav {
  display: flex;
  width: 100vw;
}

.login-logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.5rem 0.5rem rgb(196, 193, 193);
}

.content-fav {
  padding: 16px;
  justify-content: center;
  margin-left: 30vw;
  background-color: #7c8eb0;
  width: 100%;
  height:auto;
}

.login-input{
  border-radius: 30px;
  margin: auto;
  width: 100%;
  background-color: white;
  border: 1px solid;
  box-shadow: 5px 5px 4px 2px #5a5757;
}
.center-all-full-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 30vw;
  margin-left: 20%;
}

.form-control-fav {
  font-size: 1.6rem;
}

.form-acc{
  font-size: 1.6rem;
}

.form-label{
  color: whitesmoke;
  margin-left: 10%;
}

.form-control-add{
  font-size: 1.6rem;
  width: 70%;
  margin-left: 10%;
  box-shadow: 0.25rem 0.25rem 1rem rgb(89, 88, 88);
  border-radius: 0.5rem;
  border: none;
}

.form-control-add:hover{
  box-shadow: 0.3rem 0.3rem 1rem rgb(41, 41, 41);
}

.button-prm {
  font-size: 1.5rem;
  font-family: "Google Sans",arial,sans-serif;
  background-color: rgb(80, 163, 240);
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px #5a5757;
}

.button-scnd {
  font-size: 1.5rem;
  font-family: "Google Sans",arial,sans-serif;
  background-color: rgb(171, 157, 157);
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px #5a5757;
}

.btli{
  margin-left: 2%;
}

.delete{
  background-color: red;
  width:75px;
  height: 30px;
  margin-left: 10%;
  box-shadow: 2px 2px #5a5757;
}

.delete:hover, .edit-staging-btn:hover{
  box-shadow: 0.2rem 0.2rem 1rem #292828;
}

.edit-staging-btn{
  font-size: 1.5rem;
  font-family: "Google Sans",arial,sans-serif;
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px #5a5757;
}

.suggest-btn{
  background-color: yellow;
  color: gray;
}

.buttons-crt-acc{
  margin-left: 10%;
}

.google-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-sumbit-ctn{
  display: flex;
  justify-content: space-between;
}

.external-login-btn{
  background-color: #7CABE8;
  color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  margin: 2% 2%;
  padding: 2% 12%;
}

.S9gUrf-YoZ4jf > iframe {
  margin: 0 !important;
}

.login-logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 219, 219);
  border-radius: 30px;
}

.list div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.list{
  text-align:center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.list table{
  width:70%;
}
table {
  /*table behaviors*/
  width: 90%;
  border-collapse: collapse;

  /*table stylings*/
  border-radius: 12rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  /*text stylings*/
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 2rem;
  
  /*text behavior*/
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
} 

table th {
  /*text stylings*/
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;

  /*table stylings*/
  background-color: #324da4;
  padding: 10px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;   
}

table tr:hover td {
  background-color: #fff;
  color: #324da4
}

table td {
  /*text stylings*/
  font-weight: bold;
  
  /*cell stylings*/
  padding: 1rem;
  background-color: #293342;
  border-bottom: 1px solid #fff;  
}

button{
  /*text stylings*/
  font-size: 1.6rem;
  transition: 1s;
  color: #ffffff;
  
  /*button stylings*/
  margin: 2% 2%;
  padding: 1% 1%;
  border-radius: 10px;
  border: 3px solid rgb(100, 100, 100);
  background-color: rgb(61, 65, 178);  
}

button:hover{
  background-color: white;
  color: rgb(237, 209, 209);
}

#formPlacer{
  display:flex;
  justify-content: center;
  align-items: center;
}

#formContainer{
  width: 60%;
  margin-left: 4%;
  border: 2px solid black;
  padding: 1%;
  border-radius: 1rem;
}
#formContainer #formHeading{
  color: rgb(221, 221, 236);
  font-family: Arial, sans-serif;
  font-size: 2rem;

}
#error{
  /*text stylings*/
  color: rgb(235, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  
  /*item stylings*/
  margin: 2% 5% 1% 5%;  
}
.errItem{
  margin: 4% 2% 4% 2%;
}

ul{
  margin-left: 2%;
}

#btnPlacer{
  margin-left: 10%;
}

.refresh-em{
  margin-top: 10%;
}

.form-group{
  /*item stylings*/
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%; 

  /*text stylings*/
  color: #334;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
}

.login-logo-container-panel{
  background-color: rgb(211, 233, 241);
}

.necessary{
  background-color: red;
  width:75px;
  height: 30px;
  margin-left: 2%;
  box-shadow: 2px 2px #5a5757;
}

.box-for-checking{
  margin-left: 0.75%;
}

.login-logo-container-header{
  margin-right: 10%;
  margin-left: 10%;
}